body {
  margin: 0;
  padding: 0;
  background: #f1faee;
  font-family: Roboto, Calibri, Arial;
}

header {
  background: #a8dadc;
  position: sticky;
  top: 0;
  width: 100%;
}

button:hover {
  cursor: pointer;
  opacity: 90%;
}

#form {
  padding: 2px;
  background: #1d3557;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 50px;
}

#form > button {
  border: 0;
  padding: 10px;
  margin: 2px;
  border-radius: 6px;
  outline: none;
  background: #f1faee;
  color: #1d3557;
}

#input {
  border: none;
  background: #f1faee;
  padding: 10px;
  flex-grow: 1;
  border-radius: 24px;
  margin: 2px;
}

#input:focus {
  outline: none;
}

#messages {
  color: #1d3557;
  height: auto;
  margin: auto;
}

.message {
  padding: 10px 20px;
}

#updates,
#typing,
#error {
  margin: auto;
  color: #1d3557;
  width: 300px;
  height: 20px;
  padding: 10px 20px;
}

#error {
  color: #e63946;
}

@media (min-width: 900px) {
  #messages {
    width: 600px;
  }
}
